@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
nav {
  width: 100%;
  position: sticky;
  background: rgb(59, 57, 57);
  left: 0;
  right: 0;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.navbar-brand {
  font-size: 35px;
  font-weight: 600;
}
.navbar-brand span {
  color: crimson;
  transition: all 0.3s ease;
}
.nav-link {
  color: white !important;
  font-size: 21px;
  margin-left: 30px;
  font-family: sans-serif;
  transition: all 0.3s ease;
}
.nav-link:hover {
  color: crimson !important;
}
/* HOME SECTION */
#home {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)),
    url(images/port.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: #fff;
  min-height: 500px;
}
.home {
  margin: auto;
  font-family: sans-serif;
}
.text-1 {
  margin-top: 4%;
  font-size: 27px;
}
.text-2 {
  font-size: 70px;
  font-weight: 600;
}
#home .text {
  font-size: 45px;
}
#home .text span {
  color: crimson;
  font-weight: 500;
}
.home a button {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  border: none;
  padding: 12px 36px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home a button:hover {
  color: crimson;
  background: none;
}

/* about section */
section {
  padding: 100px 0;
}
.about,
.project {
  font-family: sans-serif;
}
section .title {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
.about .title::after {
  content: "who i am";
}
.about .about-content,
.project .proj-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 350px;
  object-fit: cover;
  margin-left: 30px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text-3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text-3 span {
  color: crimson;
}
.about .about-content .right p {
  text-align: justify;
  margin-right: 25px;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 20px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}
/* project section */
.project,
.contact {
  color: #fff;
  background: #111;
}
.project .title::before,
.contact .title::before {
  background: #fff;
}
.project .title::after,
.contact .title::after {
  background: #111;
  content: "what i done";
}
.project .card {
  width: 17rem;
  border: 1px solid white;
  background: #222;
  transition: all 0.3s ease;
}
.project .card:hover {
  background: crimson;
  cursor: pointer;
  transform: scale(1.05);
}
.project .card-title {
  font-size: 27px;
  font-family: sans-serif;
  font-weight: 500;
}
.project .card .btn {
  background: crimson;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 20px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  border: 1px solid black;
}
.project .card .btn:hover {
  color: white;
  background: #222;
  border: 2px solid white;
}
/* Skills Section */
.skills .title::after {
  content: "what i know";
}
.skills .skills-content .content {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .infom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-right: 25px;
}
.skills .skills-content .right span {
  font-weight: 600;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 95%;
  background: lightgray;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.skills-content .right .html::before {
  width: 90%;
}
.skills-content .right .css::before {
  width: 75%;
}
.skills-content .right .js::before {
  width: 50%;
}
.skills-content .right .bootstrap::before {
  width: 70%;
}
/* contact section */

.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .content {
  width: calc(50% - 40px);
}
.contact .contact-content .text {
  font-size: 25px;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .rows {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .rows .infom {
  margin-left: 30px;
}
.contact .contact-content .rows i {
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .infom .head {
  font-family: 600;
  color: crimson;
}
.contact .contact-content .infom .sub-title {
  font-family: Helvetica;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px soild #fff;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: sans-serif;
}
.contact .right form .textarea textarea {
  margin-top: 10px;
  resize: none;
}
.contact .right form .btns {
  height: 47px;
  width: 170px;
}
.contact .right form .btns button {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.contact .right form .btns button:hover {
  color: crimson;
  background: none;
}
/* footer section */
footer {
  background: #fff;
}
footer span {
  font-family: arial;
  padding: 20px 23px;
  font-weight: bold;
}
footer span a {
  color: crimson;
}
footer span i {
  color: crimson;
}
/*media query */
@media screen and (max-width: 576px) {
  .text-1 {
    margin-top: 23%;
  }
  #home .text {
    font-size: 24px;
  }
  .about .about-content .contnet {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .left img {
    margin-left: 8px;
    height: 350px;
    width: 300px;
  }

  .about .about-content .right {
    flex: 100%;
    margin-left: 10%;
  }
  .project .card {
    margin-left: 10%;
  }
  .skills .skills-content .content {
    width: 100%;
    margin-left: 8%;
    margin-bottom: 25px;
  }
  .contact .contact-content .content {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .right form .btns {
    margin-left: 5px;
  }
  .contact .contact-content .left p {
    margin-right: 4px;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .project .card {
    margin-left: 25%;
  }
  .skills .skills-content .content {
    width: 100%;
    margin-left: 8%;
    margin-bottom: 25px;
  }
  .contact .contact-content .content {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .right form .btns {
    margin-left: 5px;
  }
  .contact .contact-content .left p {
    margin-right: 4px;
  }
}
